.contact {
    &-section {
        &-desc {
            @include set-type(24, 600);

            display: block;
            margin: 50px 0;
            text-align: center;
        }

        &-form {
            .nf-form-title,
            .nf-form-fields-required {
                display: none;

            }
            
            .nf-form-content {
                // text-align: center;

                label {
                    font-size: 0.85em;
                }

                input[type=text], input[type=email], textarea {
                    background-color: $color-white;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    padding: 12px;
                    max-width: 100%;
                }
    
                input[type=submit] {
                    font-weight: 600;
                    width: 100%;
                    background: $color-primary!important;
                    border: 1px solid $color-primary;
                    color: $color-white;
                    padding: 8px 20px;
                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:focus {
                        background: $color-white!important;
                        border: 1px solid $color-primary;
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }

                @media screen and (min-width: 992px) {
                    .nf-form-content {
                        margin: 0 auto;
                        width: 50%;
                    }
                }
            }
        }
    }
}