.contact {
    &-section {
        &-desc {
            @include set-type(24, 600);

            display: block;
            margin: 50px 0;
            text-align: center;
        }

        &-form {
            .nf-form-title,
            .nf-form-fields-required {
                display: none;

            }
            
            .nf-form-content {
                text-align: center;

                .nf-field-label {
                    width: 50%;
                }

                label {
                    font-size: 0.85em;
                }

                input[type=text], input[type=email], textarea {
                    background-color: $color-beige;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    padding: 12px;
                    width: 50%;
                }
    
                input[type=submit] {
                    border-radius: 4px;
                    padding: 12px 24px;
                    width: 60%;
                }

                @media screen and (max-width: 768px) {
                    text-align: start;
                    
                    .nf-field-label,
                    input[type=text], input[type=email], textarea, input[type=submit] {
                        width: 100%;
                    }
                }
            }
        }
    }
}