.homepage {
    .featured {
        &-section {
            img {
                width: 100%;
            }
        }

        &-painting-section {
            text-align: center;

            &-title {
                @include set-type(24, 600, 30);
            }

            &-items {
                align-items: center;
                display: flex;
                justify-content: space-between;

                img {
                    border-radius: 5px;
                    height: 300px;
                    object-fit: contain;
                    width: 300px;
                }
            }
        }
    }

    .classes {
        background-color: $color-primary;
        padding: 40px 0;
        color: $color-white;

        &-title {
            @include set-type(18);

            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }

    .subscription-form {
        margin-bottom: 60px;

        &-title {
            @include set-type(24, 100);

            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
        }

        .mc4wp-form {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &-fields {
                margin-bottom: 20px;

                label {
                    @include set-type(14, 100);
                }

                input[type='email'] {
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid $color-primary;
                    margin: 0 20px;
                }

                input[type='submit'] {
                    @include set-type(14, 600);
    
                    background: transparent;
                    color: $color-primary;
                    text-decoration: none;
                    border: 0;
    
                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }

            .mc4wp-response {
                font-style: italic;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .featured {
            &-painting-section {
                ul {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .featured {
            &-painting-section {
                &-items {
                    flex-direction: column;
                    
                    .featured-painting-section-item {
                        margin: 10px 0;

                        img {
                            width: 500px;
                        }
                    }
                }
            }
        }

        .classes {
            padding: 20px 0;

            &-title {
                @include set-type(14);

                margin-bottom: 10px;
            }
        }

        .subscription-form {
            margin-bottom: 30px;
        }
    }
}