.print-listing {
    display: block;
    margin: 20px 10px;

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4px;

        .card-title {
            @include set-type(18, 400);
        }

        img {
            object-fit: cover;
            width: 100%;
        }

        .request-button {
            border-radius: 0;
            width: 100%;
        }

        @media (min-width:768px) and (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
    
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 10px;
            justify-items: center;
        }
    }    
}