.print-listing {
    display: block;
    margin: 20px 10px;

    &-container {
        display: grid;
        gap: 4px;

        .card-title {
            @include set-type(18, 400);
        }

        img {
            background-color: $color-grey;
            object-fit: cover;
            padding: 10px;
            width: 100%;
        }

        .request-button {
            border-radius: 0;
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        &-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}