/* Brand Colours
------------------------------------------------------------------------------*/

$color-primary: #233D4D!default; // Dark Blue
$color-secondary: #335970!default; // Medium Blue

$color-beige: #FBF5F3!default; // Beige
$color-purple: #9E768F!default; // Purple
$color-red: #A3320B!default; // Red
$color-blue: #233D4D!default; // Blue
$color-green: #00241B!default; // Green

/* General Colours
------------------------------------------------------------------------------*/

$color-white: #ffffff!default; // White
$color-grey: #959393!default; // Grey
$color-black: #404040!default; // Black

$color-border: #e5e5e5!default;
$color-black-shadow: rgba(64, 64, 64, 0.45)!default;